@import "tailwindcss";

@theme {
  --color-main: #EEECEC;
  --color-header: #5F5C58;
  --color-sidebar: #474542;
  --color-accent: #3B91A9;
  --color-surface-light: #DFDEDE;
  --color-surface-dark: #D1CFCF;
}
